
    <div class="container">
        <div class="section"><h1 class="titulo">Juego del Ahorcado</h1></div>
        <div *ngIf="!estadoJuego">
            <div class="section"><img class="img-ahorcado" [src]="imagenAhorcado" alt="AhorcadoIntentos {{intentos}}"></div>
            <div class="section"><h1 class="letras">{{ letrasNoAdivinadas.toUpperCase() }}</h1></div>
            <div class="section"><p>Intentos restantes: {{ intentos }}</p></div>

        <div class="section-game">
            <input
                [(ngModel)]="letraIngresada"
                maxlength="1"
                (keyup.enter)="adivinarLetra()"
                placeholder="Ingresa una letra"
                class="input-letra"
            />
        <button class="boton-jugar" (click)="adivinarLetra()">Adivinar</button>

        <p>Letras adivinadas: {{ letrasAdivinadas.join(', ') }}</p>
        </div>

        </div>

        <div *ngIf="estadoJuego">
            <app-resultado [intentos]="intentos" [palabra]="palabra"></app-resultado>
        </div>
</div>
