
    <div class="container">
        <h1>Juego del Ahorcado</h1>
        <div *ngIf="!estadoJuego">
            <img class="img-ahorcado" [src]="imagenAhorcado" alt="AhorcadoIntentos {{intentos}}">
            <p>Palabra: {{ letrasNoAdivinadas }}</p>
            <p>Intentos restantes: {{ intentos }}</p>

        <input
            [(ngModel)]="letraIngresada"
            maxlength="1"
            (keyup.enter)="adivinarLetra()"
            placeholder="Ingresa una letra"
        />
        <button (click)="adivinarLetra()">Adivinar</button>

        <p>Letras adivinadas: {{ letrasAdivinadas.join(', ') }}</p>
        </div>

        <div *ngIf="estadoJuego">
            <app-resultado [intentos]="intentos" [palabra]="palabra"></app-resultado>
        </div>
</div>
