.img-ahorcado {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.letras {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

.section {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.titulo {
  font-size: 28px;
  padding: 10px 20px;
  background-color: #7e57c2;
  color: white;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.input-letra {
  padding: 10px 14px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 150px;
  transition: border-color 0.2s ease-in-out;
}

.input-letra:focus {
  border-color: #7b4fe7;
}
